.h1 {
  margin-bottom: 2.4rem;
  color: #002233;
  font-weight: 600;
}

.center {
  text-align: center;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

.figure {
  width: 44vw;
  margin-left: 0;
  margin-right: 0;
}

.figure img {
  width: 100%;
}

.react-player {
  width: 40vw;
}

.description {
  width: 42vw;
  margin-left: 2vw;
}

.explanation::first-line {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

@media (max-width: 1392px) {
  .content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .react-player {
    width: 80vw;
    margin: 0 auto;
  }

  .figure,
  .description {
    width: 80vw;
  }

  .description {
    margin-top: 2rem;
  }
}
