body {
  background-color: lightblue;
  font-size: 1.2em;
}

h1 {
  text-align: center;
}

.App {
  width: 90vw;
  margin: 40px auto;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

.figure {
  width: 44vw;
  margin-left: 0;
  margin-right: 0;
}

.figure img {
  width: 100%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.description {
  width: 42vw;
  margin-left: 2vw;
}

.description::first-line {
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}

@media (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .figure,
  .description {
    width: 80vw;
  }

  .description {
    margin-left: 0;
  }
}
