body {
  /* background-color: lightyellow; */
  background: linear-gradient(
    185deg,
    lightsalmon,
    lightpink,
    mistyrose,
    lightcoral
  );
  font-size: 1.2em;
}

h1 {
  text-align: center;
}

.App {
  width: 90vw;
  margin: 40px auto;
}
